<div id='page'>
  <h1>Forum parts</h1>

  <table id='table'>
    <tr>
      <th class='left_text'>Part name</th>
      <% if can? :edit, Part %>
      <th class='action_column'></th>
      <% end %>
    </tr>
    <% @parts.each do |part| %>
    <tr>
      <td><%= link_to part.title, part %><br><span class='desc'><%= part.desc %></span></td>
      <% if can? :edit, Part %>
      <td>
        <a href="<%=edit_part_path(part)%>" class="btn btn-primary btn-mini"> edit</a>
      <%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-mini btn-danger' %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <br />
  <%if can? :new, Part%>
  <%= link_to 'New Part', new_part_path %>
  <%end%>
</div>