<div id='page'>
  <h1>Forum parts</h1>

  <table id='table'>
    <tr>
      <th class='left_text'>Part name</th>
      <th></th>
      <th></th>
    </tr>
    <% @parts.each do |part| %>
    <tr>
      <td><%= link_to part.title, part %><br><span class='desc'><%= part.desc %></span></td>
      <% if can? :edit, part %>
      <td><%= link_to 'Edit', edit_part_path(part) %></td>
      <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <br />
  <%if isadmin%>
  <%= link_to 'New Part', new_part_path %>
  <%end%>
</div>