<tr>
	<td class='msg_user'>
		<%if post.user%>
		<b><%= link_to post.user.username, '/users/'+post.user.id.to_s %></b><br>
		<% if post.user.is? :banned %>
		<%= 'Banned'%>
		<% elsif post.user.is? :admin %>
		<%= 'Admin'%>
		<% elsif post.user.is? :moder %>
		<%= 'Moderator'%>
		<% elsif post.user.is? :user %>
		<%= 'User'%>
		<% end %>
		<%= image_tag imgurl(post.user), :width=>100%>
		Posts: <%= post.user.posts.count %><br>
		Date: <%= to_date post.user.created_at %>
		<%else%>
		USER REMOVED
		<%end%>
	</td>
	<td class='msg_body'>
		<div class='msg_body_u'>
			<a name=<%=post.id%>></a>
			<%if @search==true%>
			<%=link_to 'Turn to topic', '/topics/'+post.topic_id.to_s+'#'+post.id.to_s %><br>
			<%end%>
			<%=sanitize post.body, :tags => %w(br img b i a) %><br>
		</div>
		<div class='msg_body_d'>
			Posted at <%= to_date post.created_at %>,
			<%='Edited at '+ ((to_date post.updated_at)+',') if post.created_at.to_datetime != post.updated_at.to_datetime%>
			<% if can? :edit, Post %>
			<%= link_to 'Edit', edit_post_path(post) %>,
			<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
			<div id='like_btn-<%=post.id%>' class="btn btn-success btn-small like <%='active' if liked? post %> "> +
				(<%= 
				likec=Likec.where(post_id: post.id).first
				if likec
					likec.count
				else
					0
				end
				%>)</div>
		</div>
	</td>		
</tr>
<% if !@search %>
<tr>
	<td>
		<!--<%= button_tag "comments", :id=>'showComment^'+post.id.to_s, :class=>'show_comment_button' %><br>-->
	</td>
	<td>
		<%if can? :comment, :All %>
		<div id='comments<%=post.id%>'>
			<% if post.comments.size>0 %>
				<% post.comments.each do |comment| %>
					<%= render 'comment', :comment=>comment%>
				<% end %>
			<% end %>
			<%if can? :new, Comment %>
			<div id='send_comment-<%=post.id%>' class=''>
				<div class='comment span6'>
					<%= text_field_tag :body, params[:body], :rows=>1, :id=>'comment_input-'+post.id.to_s,
					:class=>'field span4 comment_input'%>
					<%= button_tag "comment", :id=>'comment_button-'+post.id.to_s, :class=>'comment_button' %><br>
				</div>				
			</div>
			<%end%>
		</div>
		<% end %>
	</td>
</tr>
<% end %>