<h1>Editing user</h1>

<%= form_for(@user) do |f| %>
  
  <%=image_tag imgurl(@user), :width=>100 %>
  <br>
  <%= f.file_field :avatar %>

  <div class="actions">
    <%= f.submit 'Update avatar'%>
  </div>

<% end %>

<%= form_tag('/user/change_password') do %>

  <div class="field">
    <%= label_tag 'Pass' %><br />
    <%= password_field_tag :pass, params[:pass]%>
  </div>

  <div class="field">
    <%= label_tag 'Pass2' %><br />
    <%= password_field_tag :pass_confirmation, params[:pass_confirmation]%>
  </div>
  
  <div class="actions">
    <%= submit_tag 'Update password' %>
  </div>
<% end %>

<%= form_for(@user) do |f| %>

   <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Update email' %>
  </div>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
