<h1>Listing users</h1>

<table>
  <tr>
    <th></th>
    <th>Login</th>
    <th>Date</th>
    <th>Last visit</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= image_tag imgurl(user), :width=>30%></td>
    <td><%= user.login %></td>
    <td><%= user.created_at %></td>
    <td><%= user.last_visit %></td>
    <td><%= link_to 'Ban', '' %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
