= form_for @uzer do |f|
  - if @uzer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@uzer.errors.count, "error")} prohibited this uzer from being saved:"
      %ul
        - @uzer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :nickname
    = f.text_field :nickname
  .field
    = f.label :provider
    = f.text_field :provider
  .field
    = f.label :url
    = f.text_field :url
  .actions
    = f.submit 'Save'
