%h1 Listing uzers

%table
  %tr
    %th Username
    %th Nickname
    %th Provider
    %th Url
    %th
    %th
    %th

  - @uzers.each do |uzer|
    %tr
      %td= uzer.username
      %td= uzer.nickname
      %td= uzer.provider
      %td= uzer.url
      %td= link_to 'Show', uzer
      %td= link_to 'Edit', edit_uzer_path(uzer)
      %td= link_to 'Destroy', uzer, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Uzer', new_uzer_path
