<!DOCTYPE html>
<html>
<head>
	<title>Forum3</title>
	<meta charset="UTF-8">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="head">
		<div id="head_lc">
			<div id='head_u'>
				<br><%=link_to 'Forum','/'%>
			</div>
			<div id='head_d'>
				<div class='menu'>
					<%= link_to ' Main page ', '/'%>
				</div>
				<% if logged %>
				<div class='menu'>
					<%= link_to ' User profile ', '/users/'+session[:user_id].to_s%>
				</div>
				<% end %>
				<div class='menu'>
					 item3 
				</div>
				<div style="float:right">
					<%=render :partial=>'search/form'%>
				</div>
			</div>
		</div>
		<div id="head_r">
			<%= render :partial => 'sessions/form'  %>
		</div>
	</div>
	<p id="notice"><%= notice %></p>
	<div id='page'>
		<%= yield %>
	</div>
</body>
</html>
